<!-- <p>resetpassword works!</p>
<p>hi mom I'm on reset password lol</p>
<br> -->


<div *ngIf="error">
    <div class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
  </div>

  <div *ngIf="success">
    <div class="alert alert-success" role="alert">
      {{successMessage}}
    </div>
  </div>


  <div id="register-form">
    
    <img class="vault-title" src="https://media.discordapp.net/attachments/940739263656509560/945780916066869318/vault_logo.png" alt="templogo" >
     
    
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

         <div class="form-group">
              <label>Username</label>
              <input
                  type="text"
                  formControlName="username"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
              />
          <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
            <div *ngIf="f['username'].errors['required']">Username is required</div>
            <div *ngIf="f['username'].errors['minlength']">
              Username must be at least 4 characters
            </div>
            <div *ngIf="f['username'].errors['maxlength']">
              Username must not exceed 25 characters
            </div>
          </div>
        </div>


  
        
  
        
  
        <!-- <div class="form-group"> -->
          <!-- <label>Email</label>
          <input
            type="text"
            formControlName="email"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
          />
          <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']">Email is required</div>
            <div *ngIf="f['email'].errors['email']">Email is invalid</div>
            <div *ngIf="f['email'].errors['maxlength']">
              Email must not exceed 50 characters
            </div>
          </div>
        </div> -->
    
        
  
        
        
        
    
        
    <br>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Reset Password</button>
          <button type="submit" class="btn btn-primary" id='newProfileLink' (click)="goToLogin()">Cancel</button>
        </div>
      </form>
    </div>