/* .badge-primary{
    color: black;
}
.p-2{
    color: black;
  
}
#resetPasswordLink{
    color: #0000FF;
}

#loginBox{
    width: 280px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
  

}

.vault-title{
    width: 280px;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
  
}
button {

    margin-left :5px } */

    