<div class="">
    <div class="shadow">
        <div class="card">
            <div [ngClass]="'account-card-body'">
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-center">
                        <div >
                            <!-- <span class="badge badge-primary">{{account.accountType}} Account</span>  -->
                            <span >{{account.accountType}} Account</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class=>
                            <!-- <span class="badge badge-primary">Id: {{account.accountId}}</span>    -->
                            <span class=>Id: {{account.accountId}}</span>       
                        </div>
                    </div>
                </div>
                <br>
                <div class="d-flex flex-column">   
                    <div class=>
                        Available Balance: {{account.availableBalance | currency}}
                    </div>
                    <div class=>
                        Pending Balance: {{account.pendingBalance | currency}}
                    </div>
                </div>
                <br>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-primary" (click)="goToDetail(account)">View Details</button>
                </div>
            </div>
        </div>
    </div>
</div>