<div>
    <div class="shadow">
        <div class="card">
            <div style="color: rgb(0, 0, 0); background-color: #B9B9BA;">
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-center">
                        <div >
                            <!-- <span class="badge badge-primary">{{account.accountType}} Account</span>  -->
                            <span >{{account.accountType}} Account</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div >
                            <!-- <span class="badge badge-primary">Id: {{account.accountId}}</span>    -->
                            <span >Id: {{account.accountId}}</span>       
                        </div>
                    </div>
                </div>
                <br>
                <div class="d-flex flex-column">   
                    <div >
                        Available Balance: {{account.availableBalance | currency}}
                    </div>
                    <div >
                        Pending Balance: {{account.pendingBalance | currency}}
                    </div>
                </div>
                <br>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary" (click)="goToDetail(account)">View Details</button>
                </div>
            </div>
        </div>
    </div>
</div>