
/* body{
    /* width: 100%;
    height: 100vh;
body{
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    color: #ffff;
    background-image: linear-gradient(.45deg,#f26925,#474C55);
<<<<<<< HEAD
    background-size: 100%,100%;
    position: static;
   
}
=======
    position: relative;
} */

>>>>>>> 64f8b9ae0f6865205fdcbd0304034fcf6c382dd2
