body{
    width: 100%;
    height: 100vh;
    
    background-image: linear-gradient(.45deg,#f26925,#474C55);
    background-size: 400%,400%;
    position: relative;
   
}

.badge-primary {
    color: black;
}

.p-2 {
    color: black;

}


#loginBox {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;


}

.vault-title {
    width: 280px;
    position: absolute;
    top: -55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;

}


body {
    color: black;
}

.card-body {
    color: black;
}

.display-4 {
    color: black;
}



#editP-form {
    width: 680px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;


}

#register-form {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;


}
