/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


body {
    --bkg-color: linear-gradient(.45deg, #f26925, #474C55);
    --txt-color: white;
}

body.light-theme {

    --bkg-color: linear-gradient(.45deg, #f26925, #B9B9BA);
    --txt-color: black;

}

body  {
    background: var(--bkg-color);
    width: 100%;
    height: 100vh;
    background-size: 400%, 400%;
    position: relative;
    color: var(--txt-color);
}

#loginBox {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


button {

    margin-left: 5px
}
.feedback-text{
    color: black;
}

#register-form {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.login-vault-title {
    width: 280px;
    position: absolute;
    top: -55%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.register-vault-title {
    width: 280px;
    position: absolute;
    top: -28%;
    left: 50%;
    transform: translate(-50%, -50%);

}

 .edit-profile-vault-title {
   width: 280px;
   position: center;
   /* transform: translate(-50%, -50%); */

} 

.account-vault-title {
   width: 280px;
   position: absolute;
   top: 18%;
   left: 50%;
   transform: translate(-50%, -50%);
   
} 

.account-view-form-control {
    width: 120px;
} 
.transfer-generate-form-control {
    width: 400px;
} 
#editP-form {
   width: 680px;
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);

   
} 
.form-label {
    white-space: nowrap;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

 .account-card-body {
    --background-color: #B9B9BA; 
    --color: black;
} 
.account-card-body.light-theme {
    --background-color: #474C55; 
    --color: white;
}
.account-card-body{
    background-color: var(--background-color);
    color: var(--color);
}

 button#transactionInfo {
    background: none;
    border: none;
} 
                               

.account-header-style{
    --account-background-color: #474C55;
}

.account-header-style.light-theme{
    --account-background-color: #B9B9BA;
}

.account-header-style{
    background-color: var(--account-background-color);
}

.navbar-style{
    --navbar-background: #B9B9BA;
}
.navbar-style.light-theme{
    --navbar-background: #474C55;
}

.navbar-style{
    background-color: var(--navbar-background);
}


    /* .table-style {
        --table-background-color: #474C55;
        --text-color: white;
    }
    
    .table-style.light-theme {
        --table-background-color: #B9B9BA;
        --text-color: black;
    }
    
    .table-style {
        background-color: var(--table-background-color);
        color: var(--text-color);
    } */