<div class="container">
    <h1>Use our Budget Calculator to Manage Your Expenses</h1>
    <form (ngSubmit)="onClickSubmitIncome(income.value)"
    >
        <div class="col-md-3">
            <label for="Wbox" class="form-label">Enter your monthly income:</label>
            <input type="text" class="form-control" min="0" id="income" #Wbox placeholder="Monthly Income"
                name="withdrawbox" #income required ngModel> 
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Enter number greater than 1</div>
        </div>
        <!-- <div class="col-md-2">
            <label for="refBox" class="form-lable">Reference</label>
            <input type="text" class="form-control" id="refBox" name="referenceBox" required #reference ngModel>
        </div> -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <br>
    <div>
        <!-- Once monthly income is entered, generate a table.
        Then display everything using a table as you enter in expenses.
        <p>Income: $2900</p>
        <br>
        <p>Expenses:</p>
        <p>----------</p>
        <p>Car Bill: $300</p>
        <p>Phone Bill: $75</p> -->
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Income</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                                {{incomeField}}
                        </td>
                    </tr>
                </tbody>
            </table>

            <form (ngSubmit)="onClickSubmitExpenses(expenses.value)">
                <div class="col-md-3">
                    <label for="Wbox" class="form-label">Enter your monthly expenses:</label>
                    <input type="number" class="form-control" min="0" id="expenses" #Wbox placeholder="Monthly Expenses"
                        name="withdrawbox" #expenses required ngModel>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Enter number greater than 1</div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Expenses</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = 'let temp of expensesArray'>
                    <td>
                            {{ expensesArray }}

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>